# OS X
.DS_Store

# IntelliJ IDEA files
.idea/
.idea_modules/
*.iml

# vim swap files
*.swp

# encode files
target/
.sonar/

# test logs
test_files/maxsat/log.txt
test_files/partialmaxsat/log.txt
test_files/partialweightedmaxsat/log.txt

# LSP
.settings
.classpath
.project

# Benchmarks
benchmark_results/
